.gauge-main {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}

.gauge-outer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 200px;
}

.gauge-text {
  width: 64px;
  font-size: 32px;
  font-weight: 500;
  text-align: right;
}

.gauge-container {
  width: 100px;
  height: 400px;
}

.gauge-block {
  width: 100px;
  height: 3px;
  margin-bottom: 1px;
  background: #0f0;
}

.gauge-block.high {
  background: #f00;
}

.gauge-block.none {
  visibility: hidden;
}
