<div class="gauge-main">
  <div class="gauge-outer">
    <div class="gauge-text">
      <%= @num_blocks %>
    </div>
    <div class="gauge-container">
      <%= for block <- @blocks do %>
        <%= live_component LiveViewExampleWeb.GaugeBlock,
          id: block.id,
          class_name: block.class_name %>
      <% end %>
    </div>
  </div>
</div>
