---
name: lint

on: [pull_request]

jobs:
  commitlint:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - uses: wagoid/commitlint-github-action@v4
  super-lint:
    name: Lint Code Base
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2
      - name: Lint Code Base
        uses: github/super-linter@v4
        env:
          VALIDATE_ALL_CODEBASE: false
          VALIDATE_ANSIBLE: false
          DEFAULT_BRANCH: main
          FILTER_REGEX_EXCLUDE: assets\/css\/phoenix\.css
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  lint-others:
    runs-on: ubuntu-18.04
    steps:
      - uses: actions/checkout@v2
      - uses: erlef/setup-beam@v1
        with:
          otp-version: 23.3.4
          elixir-version: 1.13.3
      - uses: actions/cache@v1
        with:
          path: deps
          # yamllint disable-line rule:line-length
          key: ${{ runner.os }}-mix-${{ hashFiles(format('{0}{1}', github.workspace, '/mix.lock')) }}
          restore-keys: |
            ${{ runner.os }}-mix-
      - run: mix deps.get --only dev
      - run: mix format --check-formatted
      - run: mix compile --force --warnings-as-errors
      - run: mix credo --strict
